@import url('https://fonts.googleapis.com/css2?family=Lora:wght@400;700&display=swap');

:root {
    --font-family: 'Lora', serif;
    --bg-color-dark: #2d3436;
    --bg-gradient-1: linear-gradient(to right, rgba(45, 52, 54, 1) 0%, rgba(45, 52, 54, 0.9) 30%, rgba(45, 52, 54, 0.7) 50%, rgba(45, 52, 54, 0.3) 70%, transparent 100%);
    --bg-gradient-2: linear-gradient(to left, rgba(45, 52, 54, 1) 0%, rgba(45, 52, 54, 0.9) 30%, rgba(45, 52, 54, 0.7) 50%, rgba(45, 52, 54, 0.3) 70%, transparent 100%);
    --bg-gradient-3: linear-gradient(135deg, #2d3436, #4b6b75);
    --text-color-light: #f9f9f9;
}

/* Global Styles */
body {
    font-family: var(--font-family);
    background-color: var(--bg-color-dark);
    background-image: var(--bg-gradient-1), var(--bg-gradient-2), var(--bg-gradient-3);
    background-size: 35% 100%, 35% 100%, 100% 100%;
    background-position: left, right, center;
    background-repeat: no-repeat;
    min-height: 100vh;
}

/* Layout Styles */
.container {
    display: flex;
    justify-content: center;
    align-items: center;
    min-height: 100vh;
    text-align: center;
}

/* Heading and Text Styles */
h1, h2, h3, h4, h5, h6, p {
    font-family: var(--font-family);
}
